Edit details here



<h1>Edit details for <%= @puppy.name %></h1>

<% if @puppy.errors.any? %>
  <ul>
    <% @puppy.errors.full_messages.each do |message| %>
     
      <li><%= message %></li>
    <%end%>
</ul>
<% end %>

<%= form_for @puppy do |f| %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  
  <%= f.label :breed %><br>
  <%= f.text_field :breed %><br>
  <%= f.label :location %><br>
  <%= f.text_field :location %><br>
  <%= f.label :bio %><br>
  <%= f.text_field :bio %><br>

  <%= f.submit "Update Details", :class => 'btn btn-success btn-sm' %>
 
 <% end %>